$page-width: 2000px
$page-height: 1000px
$text-color: #e8f406

@mixin transition($val)
	-ms-transition: all $val
	-webkit-transition: all $val
	-moz-transition: all $val
	-o-transition: all $val
	transition: all $val

@mixin transform($val)
	-ms-transform: rotate($val)
	-webkit-transform: rotate($val)
	-moz-transform: rotate($val)
	-o-transform: rotate($val)
	transform: rotate($val)

@mixin box-shadow($width, $height, $color)
	box-shadow: 0px 0px $width $height $color
	-moz-box-shadow: 0px 0px $width $height $color
	-o-box-shadow: 0px 0px $width $height $color
	-webkit-box-shadow: 0px 0px $width $height $color
	-ms-box-shadow: 0px 0px $width $height $color
	
@mixin text-shadow($radius, $color)
	text-shadow: 0 0 $radius $color

@mixin pos-and-size($left, $top, $width, $height)
	left: $left / 2000px * 100%
	top: $top / 1000px * 100%
	width: $width / 2000px * 100%
	height: $height / 1000px * 100%
	
@mixin pos($left, $top)
	left: $left / 2000px * 100%
	top: $top / 1000px * 100%

@mixin pos-and-size-2($left, $top, $width, $height)
	left: $left
	top: $top
	width: $width
	height: $height
	
@mixin bg($file)
	background-image: url(../pics/#{$file})
	
@function calc-percent($target, $container)
	@return $target/$container * 100%

@for $i from 1 through 20
	.z-#{$i}
		z-index: #{$i}
		
.black-skin
	width: 100%
	height: 100%
	position: absolute
	background-color: black
	opacity: 0.7
	z-index: 10

.next-button, .start-button, .correct, .keep-thinking, .result
	border-radius: 50%
	z-index: 11
	width: 20%
	height: 40%
	position: absolute
	left: 40%
	top: 30%
	background-color: white
	color: black
	font-size: 3vmax
	text-align: center
	padding-top: 8.5%

.next-button:hover, .start-button:hover, .result:hover
	color: white
	background-color: black

.absolute-max
	position: absolute
	left: 0%
	top: 0%
	width: 100%
	height: 100%
	background-size: auto 100%
	background-repeat: no-repeat

.absolute
	position: absolute
	background-size: auto 100%
	background-repeat: no-repeat

.transition-2s
	-ms-transition: all 2s
	-webkit-transition: all 2s
	-moz-transition: all 2s
	-o-transition: all 2s
	transition: all 2s

.border-box
	box-sizing: border-box
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	-o-box-sizing: border-box
	-ms-box-sizing: border-box

*
	@extend .border-box
	font-family: Verdana

.blink-shadow
	@include box-shadow(10px, 10px, white)

/*GLOBAL AND MENU*/

body
	position: absolute
	margin: 0%
	width: 100%
	height: 100%
	min-width: 100%
	min-height: 100%
	max-width: 100%
	max-height: 100%

#main
	@extend .absolute-max

.frame
	@extend .absolute-max
	background-size: 100% 100%
	overflow: hidden

/*FRAM 000 (TITLE PAGE)*/

#frame-000
	background-image: url(../pics/s0-bg.png)

.menu-buttons
	@extend .absolute
	font-size: 3vmax
	color: white
	padding: 1%
	text-align: center
	cursor: pointer
	
#frame-000 .airports
	@extend .menu-buttons	
	@include pos-and-size(624px, 227px, 846px, 124px)
	background-image: url(../pics/s0-airports-bg.png)

#frame-000 .airports:hover
	background-image: url(../pics/s0-airports-bg-hover.png)

#frame-000 .test
	@extend .menu-buttons
	@include pos-and-size(846px, 405px, 228px, 134px)
	background-image: url(../pics/s0-test-bg.png)

#frame-000 .test:hover
	background-image: url(../pics/s0-test-bg-hover.png)
	color: black

#frame-000 .research
	@extend .menu-buttons
	@include pos-and-size(784px, 584px, 392px, 117px)
	background-image: url(../pics/s0-research-bg.png)
	
#frame-000 .research:hover
	background-image: url(../pics/s0-research-bg-hover.png)
	color: black
	
#frame-000 .atom-1
	@extend .absolute
	@include pos-and-size(1506px, 443px, 596px, 596px)
	background-image: url(../pics/s0-atom-1.png)
	
#frame-000 .atom-2
	@extend .absolute
	@include pos-and-size(-68px, -35px, 480px, 478px)
	background-image: url(../pics/s0-atom-2.png)

#frame-000 .planes-animated
	@extend .absolute-max
	background-image: url(../pics/s0-planes-animated.gif)
	
/*FRAME 101*/

#frame-101 .bg-1
	@extend .absolute-max
	background-image: url(../pics/s1-bg-1.png)
	
#frame-101 .bg-2
	@extend .absolute-max
	background-image: url(../pics/s1-bg-2.png)

#frame-101 .bg-3
	@extend .absolute-max
	background-image: url(../pics/s1-bg-3.png)
	
/*FRAME 102*/

#frame-102
	background-image: url(../pics/s2-bg.png)
	
#frame-102 .bor 
	background-image: url(../pics/s2-bor_center.png)
	background-size: 100% 100%
	position: absolute
	left: 55.25%
	top: 21.1%
	width: 36.3%
	height: 57.2%
	
#frame-102 .bor-center
	left: 32%
	top: 21.1%
	width: 36.3%
	height: 57.2%

#frame-102 .proton 
	background-image: url(../pics/s2-proton.png)

#frame-102 .neutron 
	background-image: url(../pics/s2-neutron.png)

#frame-102 .number-five, #frame-102 .number-five-light 	
	background-size: 100% 100%
	position: absolute
	left: 87.85%
	top: 49.7%
	width: 2.5%
	height: 7.8%

#frame-102 .number-five 
	background-image: url(../pics/s2-number-five.png)

#frame-102 .number-five-light 
	background-image: url(../pics/s2-number-five-light.png)

#frame-102 .number-two, #frame-102 .number-two-light 
	background-size: 100% 100%
	position: absolute
	left: 57.3%
	top: 57.5%
	width: 2.6%
	height: 7.8%

#frame-102 .number-two 
	background-image: url(../pics/s2-number-two.png)

#frame-102 .number-two-light 
	background-image: url(../pics/s2-number-two-light.png)

#frame-102 .number-three, #frame-102 .number-three-light 
	background-size: 100% 100%
	position: absolute
	left: 73.9%
	top: 24.2%
	width: 3.44%
	height: 7.5%

#frame-102 .number-three 
	background-image: url(../pics/s2-number-three.png)

#frame-102 .number-three-light
	background-image: url(../pics/s2-number-three-light.png)

#frame-102 .formula 
	background-image: url(../pics/s2-formula.png)
	background-size: 100% 100%
	position: absolute
	left: 55.6%
	top: 81.3%
	width: 13.9%
	height: 6.10%

#frame-102 .formula-two 
	background-image: url(../pics/s2-formula-two.png)
	background-size: 100% 100%
	position: absolute
	left: 55.6%
	top: 90.8%
	width: 14.5%
	height: 4.8%

#frame-102 .levels 
	background-image: url(../pics/s2-levels.png)

#frame-102 .nucleus 
	background-image: url(../pics/s2-round.png)

#frame-102 .two-electrons 
	background-image: url(../pics/s2-2-electrons.png)

#frame-102 .three-electrons 
	background-image: url(../pics/s2-3-electrons.png)
	
/*FRAME 103*/

#frame-103 
	background-image: url(../pics/s3-bg-1.png)

#frame-103 .bg-1
	@extend .absolute-max
	background-image: url(../pics/s3-bg-1.png)
	
#frame-103 .bg-2
	@extend .absolute-max
	background-image: url(../pics/s3-bg-2.png)
	@include transition(3s)
	
#frame-103 .cloud
	@extend .absolute
	background-image: url(../pics/cloud.png)
	background-size: 100% 100%
	@include pos-and-size(1038px, 27px, 929px, 653px)
	font-size: 2vmax
	color: black
	padding-left: 10%
	padding-right: 5%
	padding-top: 10%
	
/*FRAME 104*/

#frame-104 .bg
	@extend .absolute-max
	background-image: url(../pics/s4-bg.png)
	
/*FRAME 105*/

#frame-105 .bg-1
	@extend .absolute-max
	background-image: url(../pics/s3-bg-1.png)

#frame-105 .bg-2
	@extend .absolute-max
	background-image: url(../pics/s3-bg-2.png)
	
#frame-105 .bg-3
	@extend .absolute-max
	background-image: url(../pics/s5-bg-2.png)

#frame-105 .bg-4
	@extend .absolute-max
	background-image: url(../pics/s5-scheme-bg.png)

#frame-105 .bulb
	@extend .absolute
	@include pos-and-size(1088px, 18px, 320px, 292px)
	background-image: url(../pics/bulb.png)

#frame-105 .scheme
	@extend .absolute-max
	background-image: url(../pics/s5-scheme.png)
	background-size: 600% 100%

/*FRAME 106*/

#frame-106 .bg
	@extend .absolute-max
	background-image: url(../pics/s6-bg.png)

#frame-106 .el
	@extend .absolute-max

@for $i from 1 through 5
	#frame-106 .el-#{$i}
		background-image: url(../pics/s6-#{$i}.png)

/*FRAME 107*/

#frame-107 .bg
	@extend .absolute-max
	background-image: url(../pics/s7-bg.png)

#frame-107 .anim
	@extend .absolute-max
	background-image: url(../pics/s7-anim.png)
	background-size: 1000% 100%
		
#frame-107 .filling
	@extend .absolute
	background-image: url(../pics/s7-filling.gif)
	@include pos-and-size(338px, 342px, 866px, 614px)
	background-position: center
	background-size: 90%

#frame-107 .roll
	@extend .absolute-max
	background-image: url(../pics/s7-roll.png)
	
#frame-107 .roll-button
	@extend .absolute
	@include pos-and-size(1646px, 17px, 271px, 178px)
	background-image: url(../pics/s7-roll-button.png)
	cursor: pointer

#frame-107 .roll-button:hover
	background-image: url(../pics/s7-roll-button-hover.png)
	
#frame-107 .next-frame-button
	@extend .absolute
	cursor: pointer
	@include pos-and-size(1394px,760px, 547px, 199px)
	background-image: url(../pics/s7-next-button.png)
	background-size: 200% 100%
	font-size: 3vmax
	padding: 3%
	color: white
	
#frame-107 .next-frame-button:hover
	background-position: 100% 0%
	
/*FRAME 108*/

#frame-108 .bg
	@extend .absolute-max
	background-image: url(../pics/s2-bg.png)

#frame-108 .elem
	@extend .absolute
	@extend .z-3
	border-radius: 10px

#frame-108 .elem:hover
	@include box-shadow(10px, 10px, gray)
	
#frame-108 .Ca
	@include pos-and-size-2(14.3%, 50.9%, 36.3%, 44.2%)
	background-image: url(../pics/s8-Ca.png)

#frame-108 .Li
	@include pos-and-size-2(14.3%, 4.6%, 36.3%, 44.2%)
	background-image: url(../pics/s8-Li.png)

#frame-108 .O
	@include pos-and-size-2(52.1%, 50.9%, 36.3%, 44.2%)
	background-image: url(../pics/s8-O.png)

#frame-108 .Cl
	@include pos-and-size-2(52.1%, 4.6%, 36.3%, 44.2%)
	background-image: url(../pics/s8-Cl.png)

#frame-108 .keep-thinking
	padding-top: 6%

/*FRAME 109*/

#frame-109 .bg, #frame-110 .bg,
#frame-111 .bg, #frame-112 .bg
	@extend .absolute-max

#frame-109 .bg-base, #frame-110 .bg-base,
#frame-111 .bg-base, #frame-112 .bg-base
	@include bg("s9-bg.png")

#frame-109 .electron, #frame-110 .electron,
#frame-111 .electron, #frame-112 .electron
	@extend .absolute-max
	@extend .z-1

#frame-109 .s1, #frame-110 .s1,
#frame-111 .s1, #frame-112 .s1
	@include bg("s9-1s.png")
	
#frame-109 .s2, #frame-110 .s2,
#frame-111 .s2, #frame-112 .s2
	@include bg("s9-2s.png")
	
#frame-109 .s3, #frame-110 .s3,
#frame-111 .s3, #frame-112 .s3
	@include bg("s9-3s.png")

#frame-109 .s4, #frame-110 .s4,
#frame-111 .s4, #frame-112 .s4
	@include bg("s9-4s.png")

#frame-109 .p2, #frame-110 .p2,
#frame-111 .p2, #frame-112 .p2
	@include bg("s9-2p.png")

#frame-109 .p3, #frame-110 .p3,
#frame-111 .p3, #frame-112 .p3
	@include bg("s9-3p.png")
	
#frame-109 .bg-ca
	@include bg("s9-bg-ca.png")
	
#frame-110 .bg-li
	@include bg("s9-bg-li.png")
	
#frame-111 .bg-o
	@include bg("s9-bg-o.png")
	
#frame-112 .bg-cl
	@include bg("s9-bg-cl.png")

/*GET BACK HERE*/
	
#frame-109 .ball-container, #frame-110 .ball-container,
#frame-111 .ball-container, #frame-112 .ball-container
	@extend .absolute
	@include pos-and-size(1622px, 59px, 340px, 208px)
	background-color: #3e8848
	border: 3px solid black
	
#frame-109 .ball-container .ball, #frame-110 .ball-container .ball,
#frame-111 .ball-container .ball, #frame-112 .ball-container .ball
	width: 50%
	height: 100%
	float: left
	background-position: center
	background-repeat: no-repeat
	
#frame-109 .ball-up, #frame-110 .ball-up,
#frame-111 .ball-up, #frame-112 .ball-up
	@include bg("s9-plane.png")

#frame-109 .ball-container .ball-up:hover,
#frame-110 .ball-container .ball-up:hover,
#frame-111 .ball-container .ball-up:hover,
#frame-112 .ball-container .ball-up:hover
	background-image: url(../pics/s9-plane.png), url(../pics/s9-plane-light.png)
	
#frame-109 .ball-container .ball-down:hover,
#frame-110 .ball-container .ball-down:hover,
#frame-111 .ball-container .ball-down:hover,
#frame-112 .ball-container .ball-down:hover
	background-image: url(../pics/s9-plane-down.png), url(../pics/s9-plane-down-light.png)
	
#frame-109 .ball-down, #frame-110 .ball-down,
#frame-111 .ball-down, #frame-112 .ball-down
	@include bg("s9-plane-down.png")
	
#frame-109 .basket, #frame-110 .basket,
#frame-111 .basket, #frame-112 .basket
	@extend .absolute
	@extend .z-2

#frame-109 .basket .point, #frame-110 .basket .point,
#frame-111 .basket .point, #frame-112 .basket .point
	@extend .absolute
	@include pos-and-size-2(45%, 55%, 50%, 40%)
	@include bg("s9-point.png")
	background-position: center
	background-size: 50% 100%
	z-index: 5
	
#frame-109 .basket .ball, #frame-110 .basket .ball,
#frame-111 .basket .ball, #frame-112 .basket .ball
	width: 50%
	height: 100%
	float: left
	background-position: center
	background-repeat: no-repeat
	
#frame-109 .basket-1s, #frame-110 .basket-1s,
#frame-111 .basket-1s, #frame-112 .basket-1s
	@include pos-and-size(895px, 11px, 271px, 157px)
	
#frame-109 .basket-2s, #frame-110 .basket-2s,
#frame-111 .basket-2s, #frame-112 .basket-2s
	@include pos-and-size(895px, 174px, 271px, 157px)

#frame-109 .basket-2p-1, #frame-110 .basket-2p-1,
#frame-111 .basket-2p-1, #frame-112 .basket-2p-1
	@include pos-and-size(895px, 335px, 271px, 157px)
	
#frame-109 .basket-2p-2, #frame-110 .basket-2p-2,
#frame-111 .basket-2p-2, #frame-112 .basket-2p-2
	@include pos-and-size(1174px, 335px, 271px, 157px)
	
#frame-109 .basket-2p-3, #frame-110 .basket-2p-3,
#frame-111 .basket-2p-3, #frame-112 .basket-2p-3,
	@include pos-and-size(1455px, 335px, 271px, 157px)
	
#frame-109 .basket-3s, #frame-110 .basket-3s,
#frame-111 .basket-3s, #frame-112 .basket-3s,
	@include pos-and-size(895px, 500px, 271px, 157px)
	
#frame-109 .basket-3p-1, #frame-110 .basket-3p-1,
#frame-111 .basket-3p-1, #frame-112 .basket-3p-1
	@include pos-and-size(895px, 663px, 271px, 157px)
	
#frame-109 .basket-3p-2, #frame-110 .basket-3p-2,
#frame-111 .basket-3p-2, #frame-112 .basket-3p-2
	@include pos-and-size(1175px, 663px, 271px, 157px)
	
#frame-109 .basket-3p-3, #frame-110 .basket-3p-3,
#frame-111 .basket-3p-3, #frame-112 .basket-3p-3
	@include pos-and-size(1455px, 663px, 271px, 157px)

#frame-109 .basket-4s, #frame-110 .basket-4s,
#frame-111 .basket-4s, #frame-112 .basket-4s,
	@include pos-and-size(895px, 828px, 271px, 157px)
	
#frame-109 .new-element-button, #frame-110 .new-element-button,
#frame-111 .new-element-button, #frame-112 .new-element-button,
	@extend .absolute
	@include pos-and-size-2(57.3%, 71.6%, 31.3%, 13.1%)
	@include bg("s9-new-element.png")
	font-size: 2vmax
	color: white
	padding: 2%

#frame-109 .new-element-button:hover, #frame-110 .new-element-button:hover,
#frame-111 .new-element-button:hover, #frame-112 .new-element-button:hover
	@include bg("s9-new-element-hover.png")

#frame-109 .true-false, #frame-110 .true-false,
#frame-111 .true-false, #frame-112 .true-false
	@extend .absolute-max
	@extend .z-8
	@include bg("s9-true-false.png")

/*FRAME 114*/

#frame-114 .bg-base
	@extend .absolute-max
	@include bg("s14-bg.png")
	
#frame-114 .button-container
	@extend .absolute
	@include pos-and-size(63px, 46px, 1915px, 180px)

#frame-114 .button-container .button
	width: 12.5%
	height: 100%
	float: left
	
#frame-114 .button-container .button:hover
	@include box-shadow(5px, 5px, white)
	
#frame-114 .arrow
	@extend .absolute
	
#frame-114 .be
	@include pos-and-size-2(8%, 30.3%, 9.15%, 27.6%)
	@include bg("s14-be.png")
	
#frame-114 .c
	@include pos-and-size-2(8%, 30.3%, 15.7%, 45%)
	@include bg("s14-c.png")

#frame-114 .f
	@include pos-and-size-2(8%, 30.3%, 27.35%, 45%)
	@include bg("s14-f.png")

#frame-114 .b
	@include pos-and-size-2(8%, 30.3%, 9.15%, 45%)
	@include bg("s14-b.png")

#frame-114 .li
	@include pos-and-size-2(8%, 30.3%, 9.15%, 27.6%)
	@include bg("s14-li.png")

#frame-114 .n
	@include pos-and-size-2(8%, 30.3%, 27.35%, 45%)
	@include bg("s14-n.png")

#frame-114 .ne
	@include pos-and-size-2(8%, 30.3%, 32.35%, 45%)
	@include bg("s14-ne.png")

#frame-114 .o
	@include pos-and-size-2(8%, 30.3%, 27.35%, 45%)
	@include bg("s14-o.png")

#frame-114 .sketchpad-container
	@extend .absolute
	@include pos-and-size-2(43.55%, 26.1%, 54.35%, 70.7%)
	
#frame-114 #responsive-sketchpad
	@extend .absolute
	@include bg("s14-area.png")
	background-size: 100% 100%

#frame-114 .sketchpad-controls
	@extend .absolute
	@include pos-and-size-2(43.55%, 26.1%, 27%, 5%)
	@extend .z-3
	
#frame-114 .sketch-control
	float: left
	width: 20%
	height: 100%
	text-align: center
	font-size: 2vmax
	cursor: pointer
	
#frame-114 .sketch-control:hover
	font-size: 2.5vmax

#frame-114 .sketch-control#red
	color: red
	
#frame-114 .sketch-control#blue
	color: blue
	
#frame-114 .keep-thinking
	padding-top: 7%
	font-size: 2vmax
	
#frame-114 .next-frame-button
	@extend .absolute
	@include pos-and-size-2(62.5%, 87%, 19.3%, 10.3%)
	@include bg("s9-next-button.png")
	font-size: 2.5vmax
	color: white
	padding: 1%
	padding-left: 2%
	
#frame-114 .next-frame-button:hover 
	@include bg("s9-next-button-hover.png")
	
#frame-114 .new-pic-button
	@extend .absolute
	@include pos-and-size-2(57.3%, 71.6%, 31.3%, 13.1%)
	@include bg("s9-new-element.png")
	font-size: 40%
	color: white
	padding: 2%

#frame-114 .new-pic-button:hover
	@include bg("s9-new-element-hover.png")
	
/*FRAME 115*/

#frame-115 .bg
	@extend .absolute-max
	@include bg("s1-bg-1.png")
	
#frame-115 .boy-thinking
	@extend .absolute
	@include pos-and-size-2(30.95%, 14.2%, 36.45%, 85.8%)
	@include bg("s15-boy-thinking.png")
	
#frame-115 .cloud
	@extend .absolute
	@include pos-and-size-2(51.9%, 2.7%, 46.5%, 65.3%)
	@include bg("s15-cloud.png")
	text-align: center
	font-size: 2vmax
	padding: 4%
	padding-top: 8%
	padding-left: 10%
	
/*FRAME 116*/

#frame-116 .bg
	@extend .absolute-max
	@include bg("s16-bg.png")
	

#frame-116 .zoom-in
	@extend .absolute-max
	@include bg("s16-zoom-in.png")
	
#frame-116 .ai-o
	@extend .absolute-max
	@include bg("s16-ai-o.png")
	
#frame-116 .ai-o-2
	@extend .absolute-max
	@include bg("s16-ai-o-2.png")
	
/*FRAME 117*/

#frame-117 .bg-base
	@extend .absolute-max
	@include bg("s9-bg.png")

#frame-117 .label
	@extend .absolute
	@include bg("s9-next-button-hover.png")
	font-size: 2vmax
	padding: 1.5%
	padding-top: 1%
	color: white
	font-style: italic
	
#frame-117 .label-1
	@include pos-and-size-2(1.95%, 3%, 27.4%, 21.4%)
	font-weight: bold
		
#frame-117 .label-2
	@include pos-and-size-2(1.95%, 34.6%, 27.4%, 21.4%)
	
#frame-117 .label-3
	@include pos-and-size-2(1.95%, 67.4%, 27.4%, 21.4%)
	
#frame-117 .basket
	@extend .absolute
	@include bg("s17-brown.png")
	padding: 1.5%
	color: white
	font-size: 1.8vmax
	@extend .z-5
	
#frame-117 .basket-1
	@include pos-and-size-2(63%, 37.5%, 15.25%, 25%)
	
#frame-117 .basket-2
	@include pos-and-size-2(35.55%, 37.5%, 15.25%, 25%)

#frame-117 .basket-3
	@include pos-and-size-2(35.75%, 69.3%, 15.25%, 25%)
	
#frame-117 .basket-4
	@include pos-and-size-2(63%, 69.3%, 15.25%, 25%)

#frame-117 .element
	@extend .absolute
	
#frame-117 .element-1
	@include pos-and-size-2(35.45%, 10%, 14.95%, 18.6%)
	
#frame-117 .element-2
	@include pos-and-size-2(62.3%, 10.2%, 14.95%, 18.6%)

#frame-117 .pair-1.element-1
	@include bg("s17-na.png")
	
#frame-117 .pair-1.element-2
	@include bg("s17-s.png")
	
#frame-117 .pair-2.element-1
	@include bg("s17-mg.png")
	
#frame-117 .pair-2.element-2
	@include bg("s17-p.png")
	
#frame-117 .pair-3.element-1
	@include bg("s17-al.png")
	
#frame-117 .pair-3.element-2
	@include bg("s17-o.png")
	
#frame-117 .pair-4.element-1
	@include bg("s17-c.png")
	
#frame-117 .pair-4.element-2
	@include bg("s17-o.png")
	
#frame-117 .pair-5.element-1
	@include bg("s17-n.png")
	
#frame-117 .pair-5.element-2
	@include bg("s17-o.png")
	
#frame-117 .pair-6.element-1
	@include bg("s17-o.png")
	
#frame-117 .pair-6.element-2
	@include bg("s17-f.png")
	
#frame-117 .pair-7.element-1
	@include bg("s17-k.png")
	
#frame-117 .pair-7.element-2
	@include bg("s17-p.png")
	
#frame-117 .pair-8.element-1
	@include bg("s17-li.png")
	
#frame-117 .pair-8.element-2
	@include bg("s17-cl.png")
	
#frame-117 .pair-9.element-1
	@include bg("s17-al.png")
	
#frame-117 .pair-9.element-2
	@include bg("s17-p.png")
	
#frame-117 .pair-10.element-1
	@include bg("s17-al.png")
	
#frame-117 .pair-10.element-2
	@include bg("s17-c.png")
	
#frame-117 .arrow
	@extend .absolute

#frame-117 .up-arrow
	@include bg("s17-up.png")
	
#frame-117 .up-arrow:hover
	@include bg("s17-up-hover.png")
	
#frame-117 .down-arrow
	@include bg("s17-down.png")
	
#frame-117 .down-arrow:hover
	@include bg("s17-down-hover.png")
	
#frame-117 .up-arrow-1
	@include pos-and-size-2(57.3%, 34.2%, 2.59%, 3.59%)
	
#frame-117 .down-arrow-1
	@include pos-and-size-2(57.3%, 37.9%, 2.6%, 3.6%)
	
#frame-117 .up-arrow-2
	@include pos-and-size-2(84.6%, 34.7%, 2.59%, 3.59%)
	
#frame-117 .down-arrow-2
	@include pos-and-size-2(84.6%, 38.4%, 2.59%, 3.6%)
	
#frame-117 .up-arrow-3
	@include pos-and-size-2(57.3%, 89%, 2.6%, 3.59%)
	
#frame-117 .down-arrow-3
	@include pos-and-size-2(57.3%, 92.7%, 2.6%, 3.59%)
	
#frame-117 .up-arrow-4
	@include pos-and-size-2(84.6%, 89%, 2.60%, 3.59%)
	
#frame-117 .down-arrow-4
	@include pos-and-size-2(84.6%, 92.7%, 2.60%, 3.59%)
	
#frame-117 .info
	@extend .absolute
	@include bg("s17-green.png")
	background-size: 100% 100%
	padding: 1.5%
	font-size: 1.8vmax
	color: white
	
#frame-117 .charge-2
	@include pos-and-size-2(78.7%, 33.1%, 9%, 10.6%)
	
#frame-117 .charge-1
	@include pos-and-size-2(51.45%, 32.6%, 9%, 10.6%)
	
#frame-117 .index-2
	@include pos-and-size-2(78.7%, 87.4%, 9%, 10.6%)
	
#frame-117 .index-1
	@include pos-and-size-2(51.45%, 87.4%, 9%, 10.6%)
	
#frame-117 .keep-thinking
	padding: 2%
	padding-top: 6%
	font-size: 40%
	opacity: 0.5

#frame-117 .result
	padding: 2% 
	padding-top: 5%
	
#frame-117 .timer
	@extend .absolute
	@include pos-and-size(1700px, 53px, 175px, 100px)
	border-radius: 10px
	color: black
	border: 3px solid red
	background-color: white
	padding: 0.5%
	padding-top: 1%
	font-size: 40%
	font-weight: bold
	text-align: center
	
/*FRAME 118*/

#frame-118 .bg-base
	@extend .absolute-max
	@include bg("s9-bg.png")
	
#frame-118 .plane
	@extend .absolute
	@include pos-and-size-2(20%, 120%, 60%, 60%)
	@include bg("s9-plane.png")
	background-position: center
	@include transition(3s)

#frame-118 .plane-2
	@extend .absolute
	@include pos-and-size-2(80%, 0%, 20%, 20%)
	@include bg("s9-plane.png")
	background-position: center

/*FRAME 119*/

#frame-119 .bg-base
	@extend .absolute-max
	@include bg("s3-bg-1.png")
	
#frame-119 .boy-1
	@extend .absolute-max
	@include bg("s3-bg-2.png")
	
#frame-119 .boy-2
	@extend .absolute-max
	@include bg("s5-bg-2.png")
	
#frame-119 .bulb
	@extend .absolute
	@include pos-and-size(1088px, 18px, 320px, 292px)
	background-image: url(../pics/bulb.png)
	
/*TEST*/

#frame-201 .bg-base
	@extend .absolute-max
	@include bg("test-bg-1.png")
	
#frame-201 .plane-button
	@extend .absolute
	@include bg("plane-button.png")
	@include pos-and-size(1639px, 712px, 130px, 128px)
	
#frame-201 .plane-button:hover
	@include bg("plane-button-hover.png")
	
#frame-202 .bg
	@extend .absolute-max
	@include bg("test-bg-2.png")

#frame-202 .turbine
	@extend .absolute-max
	@include bg("test-turbine.gif")
	
#frame-202 .turbine-button
	@extend .absolute
	border-radius: 50%
	cursor: pointer
	
#frame-202 .turbine-button:hover
	@include box-shadow(5px, 5px, blue)
	
#frame-202 .turbine-button-left
	@include pos-and-size(457px, 363px, 206px, 207px)
	
#frame-202 .turbine-button-right
	@include pos-and-size(1349px, 363px, 206px, 207px)
	
=keyframes($name)
	@-webkit-keyframes #{$name}
		@content
	@-moz-keyframes #{$name}
		@content
	@-ms-keyframes #{$name}
		@content
	@keyframes #{$name}
		@content
		
+keyframes(opacity)
	0%
		opacity: 0
	50%
		opacity: 1
	100% 
		opacity: 0
	
#frame-202 .plane-blink
	@extend .absolute-max
	@include bg("test-plane-blink.png")
	animation: opacity 3s infinite
	-ms-animation: opacity 3s infinite
	-webkit-animation: opacity 3s infinite
	
#frame-202 .task
	@include transition(1s)
	
#frame-202 .question
	@extend .absolute
	@include pos-and-size-2(2%, 56.4%, 94.3%, 31.2%)
	@include bg("test-question-bg.png")
	padding: 2%
	font-size: 2vmax
	color: white
	
#frame-202 .answer
	padding: 3%
	padding-top: 7%
	padding-left: 5%
	font-size: 2vmax
	background-size: 100% 100%
	
#frame-202 .answer img
	position: absolute
	display: block
	top: -20%
	
#frame-202 .answer-1
	@extend .absolute
	@include pos-and-size-2(2.2%, 70%, 25%, 25%)
	@include bg("test-cloud-1.png")
	
#frame-202 .answer-1:hover
	@include bg("test-cloud-1-hover.png")
	
#frame-202 .answer-2
	@extend .absolute
	@include pos-and-size-2(38.15%, 70%, 25%, 25%)
	@include bg("test-cloud-2.png")
	
#frame-202 .answer-2:hover
	@include bg("test-cloud-2-hover.png")
	
#frame-202 .answer-3
	@extend .absolute
	@include pos-and-size-2(74.8%, 70%, 25%, 25%)
	@include bg("test-cloud-3.png")
	
#frame-202 .answer-3:hover
	@include bg("test-cloud-3-hover.png")
	
#frame-202 .elname
	@extend .absolute
	@include pos-and-size(916px, 340px, 192px, 192px)
	font-size: 3vmax
	text-align: center
	color: black
	padding: 1%
	padding-top: 2%
	opacity: 0
	
#frame-202 .award
	@extend .absolute
	@include pos-and-size(1505px, 19px, 469px, 114px)
	@include bg("test-award-bg.png")
	
#frame-202 .award .label
	font-size: 2vmax
	width: 50%
	height: 100%
	text-align: right
	padding: 3%
	padding-top: 5%
	float: left

#frame-202 .award .plane-pic
	float: left
	position: relative
	width: 25%
	height: 100%
	@include bg("s9-plane.png")
	background-size: 100% 100%
	
#frame-202 .result
	font-size: 1.5vmax
	
/*RESEARCH*/

#frame-301 
	@include bg("research-bg.png")
	
#frame-301 .question
	@extend .absolute-max
	@include pos-and-size(0px, 577px, 1437px, 423px)
	font-size: 40%
	padding: 1.5em
	color: white
	font-style: italic	
	z-index: 2
	
#frame-301 .question-2
	font-size: 30%
	
#frame-301 .answer
	@extend .absolute-max
	z-index: 2
	
#frame-301 .check-button, #frame-301 .back-button, #frame-301 .next-question-button, #frame-301 .prev-question-button
	@extend .absolute
	background-color: #B7DAE7
	text-align: center
	font-size: 30%
	color: black
	padding: 1.5%
	padding-top: 1%
	border-radius: 10px
	@extend .z-4
	cursor: pointer
	z-index: 5
	
#frame-301 .check-button	
	@include pos-and-size(1616px, 600px, 304px, 80px)
	
#frame-301 .back-button
	@include pos-and-size(1616px, 700px, 304px, 80px)
	
#frame-301 .prev-question-button
	@include pos-and-size(1616px, 800px, 304px, 80px)
	
#frame-301 .next-question-button
	@include pos-and-size(1616px, 900px, 304px, 80px)
	
#frame-301 .check-button:hover, #frame-301 .back-button:hover, #frame-301 .next-question-button:hover, #frame-301 .prev-question-button:hover
	background-color: black
	color: white
	
#frame-301 .question-2 .table
	@extend .absolute
	@include pos-and-size(500px, 450px, 1400px, 500px)
	font-size: 75%

#frame-301 .question-2 .ball
	cursor: pointer
	
#frame-301 .question-2 .table .column
	position: relative
	float: left
	width: 33%
	height: 100%
	text-align: center
	
#frame-301 .question-2 .table .column .data
	padding: 0.3em
	border: 2px solid white
	border-radius: 10px
	margin: 0.2em
	float: left
	position: relative
	width: 95%
	height: 30%
	
#frame-301 .answer
	@extend .absolute
	@include pos-and-size(0px, 0px, 2000px, 575px)
	z-index: 4
	
#frame-301 .answer-3
	background-image: url(../pics/research-atoms.png)
	background-color: #4d280d
	
#frame-301 .answer-4
	background-image: url(../pics/research-ions.png)
	background-color: #4d280d
	
#frame-301 .answer-5
	background-image: url(../pics/research-atoms-ions.png)
	background-color: #4d280d
	@include pos-and-size(0px, 0px, 2000px, 1000px)
	
#frame-301 .answer-6
	background-color: #4d280d
	color: white
	font-size: 40%
	padding: 1.5em
	color: white
	font-style: italic	
	z-index: 2
	
#frame-301 .answer-hidden
	@include pos-and-size(-2000px, 0px, 2000px, 575px)

/*REG BOX*/
	
.reg-box
	@extend .absolute
	@include pos-and-size(1600px, 10px, 380px, 200px)
	border-radius: 7px
	border: 1px solid lightGrey
	opacity: 0.9
	color: white
	background-color: grey
	font-size: 20%
	font-family: Verdana
	padding: 1em
	line-height: 2em
	text-align: right
	z-index: 10
	font-family: Verdana

.reg-box.topcorner
	@include pos(30px, 950px)
	@include transition(2s)
	
.reg-box .error
	color: red
	font-size: 80%
	text-align: center

.reg-box input
	display: inlin-block
	border-radius: 5px
	border: 1px solid black
	font-size: 80%
	font-family: Verdana
	height: 2em
	width: 13em
	padding: 0.25em
	
.reg-box .enter-button
	display: inlin-block
	border-radius: 5px
	border: 1px solid black
	font-size: 80%
	width: 10em
	height: 2em
	padding: 0.25em
	
.reg-box .enter-button:hover
	background-color: black
	color: white
	
/*ANNOTATION*/
#frame-000 .annotation-hidden
	@extend .absolute
	z-index: 20
	@include pos-and-size-2(-120%, 0%, 100%, 100%)
	background-color: white
	color: black
	@include transition(2s)
	padding: 3em 7em
	font-size: 30%
	font-family: Calibri Light
	text-align: left

#frame-000 .annotation-hidden ul li
	font-family: Calibri Light
	font-size: 75%

#frame-000 .annotation-hidden .footer 
	font-family: Calibri Light
	font-style: italic
	font-size: 100%

#frame-000 .annotation-hidden .header 
	font-family: Calibri
	font-style: bold
	font-size: 120%
	display: block
	min-width: 100%
	text-align: center

#frame-000 .annotation-shown
	@include pos-and-size-2(0%, 0%, 100%, 100%)

#frame-000 .annotation-button
	@extend .absolute
	z-index: 23
	@include pos-and-size-2(5%, 85%, 5%, 5%)
	font-size: 30%
	color: white
	cursor: pointer
	text-align: center

#frame-000 .annotation-button:hover
	color: blue

#frame-000 .annotation-button-close
	color: gray	
	
/*INTRO VIDEO*/

.intro-video
	display: block
	@extend .absolute
	@include pos-and-size-2(0%, 0%, 100%, 100%)
	z-index: 17
	background-color: white
	
/*INTRO PIC*/

.intro-pic
	@extend .absolute-max
	background-image: url(../pics/intro-pic.png)
	z-index: 16

.intro-pic .grade 
	@extend .absolute
	@include pos-and-size(520px, 368px, 97px, 82px)
	font-family: Calibri Light
	font-size: 70%
	color: white
	text-align: center

.intro-pic .subject 
	@extend .absolute
	@include pos-and-size(839px, 458px, 900px, 131px)
	font-family: Calibri Light
	font-size: 55%
	color: #666564
	text-align: left

.intro-pic .subject .sub-part
	font-size: 80%
	font-family: Calibri Light
	
/*AWARD*/

.plane-center
	@extend .absolute
	@include pos-and-size(800px, 300px, 400px, 400px)
	@include transition(2s)
	background-image: url(../pics/plane-award.png)
	z-index: 7
	
.plane-corner
	@extend .absolute
	@include pos-and-size(1850px, 850px, 100px, 100px)
	
.award-box
	@extend .absolute
	@include pos-and-size(1750px, 850px, 200px, 100px)
	border: 2px solid black
	border-radius: 10px
	background-color: darkGrey
	z-index: 6
	
.award-box .award-num, .award-box .award-pic
	@extend .relative
	float: left
	width: 50%
	height: 100%
	font-size: 60%
	text-align: center
	padding: 0.2em
	
.award-box .award-pic
	background-image: url(../pics/plane-award.png)
	background-size: 100% 100%
	
#frame-000 .copyright
	@extend .absolute
	z-index: 16
	left: 35%
	top: 94.7%
	width: 25%
	height: 5%
	font-size: 21%
	color: gray
	
